body {
	font-family: "Lato", sans-serif;
	color: #444;
	background: #EEE;
	margin: 0;
}

/* Container  */
div#container {
	margin: 20px auto;
	max-width: 960px;
	background: #FFF;
}

/* Titre du site */
h1#header {
	margin: 0;
	padding: 50px;
	font-size: 1.8em;
}

/* Afficher la navigation */
label.toggle {
	margin: 0;
	cursor: pointer;
	background: #00A4FF;
	padding: 13px 20px;
	text-align: right;
}
label.toggle:hover {
	background: #0094FF;
}
label.toggle:active {
	background: #0084FF;
}
label.toggle > div.img {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QAQQBpAOEM2+jHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gsFFgYloRu63wAAACxJREFUSMdjYBgFo4BSwIjM+f///3+qGMrICDeXaTSMRyN5FIxG8igYBfQAAKEtDAplk4dlAAAAAElFTkSuQmCC');
}
input#toggle {
	display: none;
}
input#toggle:checked ~ ul#nav {
	display: block;
}

/* Navigation */
ul#nav {
	background: #00A4FF;
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;
	text-align: center;
}
ul#nav > li {
	display: block;
}
ul#nav > li > a {
	display: inherit;
	color: #FFF;
	padding: 15px 10px;
	text-decoration: none;
}
ul#nav > li > a:hover {
	background: #0094FF;
}
ul#nav > li > a:active {
	background: #0084FF;
}
ul#nav > li > select {
	margin: 0 10px;
	width: 95%;
}
@media (min-width: 768px)
{
	/* Afficher la navigation */
	label.toggle {
		display: none;
	}

	/* Navigation */
	ul#nav {
		display: block;
		text-align: left;
	}
	ul#nav > li {
		display: inline-block;
	}
}

/* Corps */
div#content {
	word-wrap: break-word;
	margin: 20px;
}

/* Bas de page */
div#footer {
	color: #7A7A7A;
	text-align: center;
	font-size: 0.8em;
	clear: both;
	padding-bottom: 20px;
}
div#footer > a {
	text-decoration: none;
}

/* Hn */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h2,
h4,
h6 {
	color: #00A4FF;
}

/* Liens */
a {
	color: #00A4FF;
	text-decoration: none;
}
a:hover,
a:active {
	color: #444;
}

/* Listes */
ul {
	list-style: square;
}

/* Input */
input[type="submit"],
a.button {
	background: #00A4FF;
}
input[type="submit"]:hover,
a.button:hover {
	background: #0094FF;
}
input[type="submit"]:active,
a.button:active {
	background: #0084FF;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
	background: #00A4FF;
}
input[type="checkbox"]:not(:active):checked:hover + label::before,
input[type="checkbox"]:active + label::before,
input[type="radio"]:checked:hover + label::before,
input[type="radio"]:not(:checked):active + label::before {
	background: #0094FF;
}