#panel,
#site,
header,
nav,
section,
footer {
	position: relative;
}
.themeOverlay {
	-webkit-transition: background .3s;
	transition: background .3s;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	cursor: pointer;
	content: " ";
	display: block;
}
.themeOverlay:hover {
	background: rgba(103, 198, 114, .7);
}
/* Empêche l'overlay de body de passer au dessus du site et du panneau */
#site,
#panel {
	z-index: 10;
}