# Fichiers temporaires
site/tmp/*

# Sauvegardes
site/backup/*

# Fichiers de données
site/data/*

# Fichiers uploadés
site/file/source/*
site/file/thumb/*

# Dossiers vides dans GitHub
!.gitkeep

# PHPStorm
.idea/