# Fichiers temporaires
core/tmp/*

# Données
data/data.json

# Thème
data/theme.css

# Fichiers uploadés
data/upload/*

# Autorise les dossiers vides dans GitHub
!.gitkeep

# Configuration de PHPStorm
.idea/