# Cache le PHPSESSID de l'url
SetEnv SESSION_USE_TRANS_SID 0

# Bloque l'accès à la liste des fichiers
Options -Indexes

# Attention, surtout ne rien modifier ci-dessous !
# URL rewriting
<ifModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /ZwiiCMS/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?$1 [L]
</ifModule>