.galleryGalleryPicture {
	display: block;
	border: 1px solid #DDD;
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	-webkit-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
}
.galleryGalleryPicture:hover {
	opacity: .7;
}
.galleryGalleryName {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	background: rgba(0, 0, 0, .6);
	color: #FFF;
	text-align: center;
}