/**
 * Éléments spécifiques
 */

.preview-frame {
	display: none;
}

/* Image */
img {
	max-width: 100%;
}

/* Notification */
div#notification {
	background: #0080FF;
	color: #FFF;
	text-align: center;
	padding: 15px
}

/* Panneau */
ul#panel {
	background: #333;
	padding: 0 5px;
	margin: 0;
	list-style: none;
}
ul#panel > li {
	display: inline;
}
ul#panel > li > a {
	display: inline-block;
	color: #FFF;
	padding: 15px 10px;
	text-decoration: none;
}
ul#panel > li > a:hover {
	background: #222;
}
ul#panel > li > a:active {
	background: #111;
}
ul#panel > li > select {
	width: 300px;
}
@media (max-width: 768px)
{
	ul#panel {
		text-align: center;
	}
	ul#panel > li > select {
		width: 100%;
		margin: 5px 0 0 0;
		display: inline-block;
	}
}

/**
 * Inputs génériques
 */

form {
	margin: 15px 0;
}
input[type="text"],
input[type="password"],
input[type="file"],
select,
textarea {
	padding: 9px; /* -1px à cause des bordures */
	background: #FFF;
	border: 1px solid #DDD;
	width: 100%;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="file"]:hover,
select:hover,
textarea:hover {
	border: 1px solid #CCC;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
	border: 1px solid #0080FF;
}
input:disabled,
select:disabled,
textarea:disabled {
	background: #EEE;
}
input[type="submit"] {
	width: 100%;
	padding: 10px;
	background: #CCC;
	color: #FFF;
	border: 0;
}
input[type="submit"]:hover {
	background: #BBB;
}
input[type="submit"]:active {
	background: #AAA;
}
textarea {
	height: 150px;
	resize: none;
}
label {
	display: block;
	margin-bottom: 2px;
}

/**
 * Inputs spécifiques
 */

/* Bouton */
a.button {
	width: 100%;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	background: #CCC;
	color: #FFF;
}
a.button:hover {
	color: #FFF;
	background: #BBB;
}
a.button:active {
	background: #AAA;
}

/* Cases à cocher */
input[type="checkbox"],
input[type="radio"] {
	display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
	content: "✓";
	display: inline-block;
	text-align: center;
	color: transparent;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 10px;
	font-weight: bold;
	background: #DDD;
	vertical-align: top;
}
input[type="checkbox"] + label::before {
}
input[type="radio"] + label::before {
	border-radius: 50%;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
	color: #FFF;
	background: #BBB;
}
input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:checked:active + label::before,
input[type="radio"]:hover + label::before {
	color: #FFF;
	background: #CCC;
}
input[type="checkbox"]:not(:active):checked:hover + label::before,
input[type="checkbox"]:active + label::before,
input[type="radio"]:checked:hover + label::before,
input[type="radio"]:not(:checked):active + label::before {
	background: #AAA;
}

/**
 * Grille
 */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row {
	margin: 0 -10px;
}
.row:before,
.row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
	float: left;
	position: relative;
	min-height: 1px;
	padding: 10px;
	width: 100%;
}
@media (min-width: 768px)
{
	.col1 {
		width: 8.33333333%;
	}
	.col2 {
		width: 16.66666667%;
	}
	.col3 {
		width: 25%;
	}
	.col4 {
		width: 33.33333333%;
	}
	.col5 {
		width: 41.66666667%;
	}
	.col6 {
		width: 50%;
	}
	.col7 {
		width: 58.33333333%;
	}
	.col8 {
		width: 66.66666667%;
	}
	.col9 {
		width: 75%;
	}
	.col10 {
		width: 83.33333333%;
	}
	.col11 {
		width: 91.66666667%;
	}
	.col12 {
		width: 100%;
	}
	.offset0 {
		margin-left: 0;
	}
	.offset1 {
		margin-left: 8.33333333%;
	}
	.offset2 {
		margin-left: 16.66666667%;
	}
	.offset3 {
		margin-left: 25%;
	}
	.offset4 {
		margin-left: 33.33333333%;
	}
	.offset5 {
		margin-left: 41.66666667%;
	}
	.offset6 {
		margin-left: 50%;
	}
	.offset7 {
		margin-left: 58.33333333%;
	}
	.offset8 {
		margin-left: 66.66666667%;
	}
	.offset9 {
		margin-left: 75%;
	}
	.offset10 {
		margin-left: 83.33333333%;
	}
	.offset11 {
		margin-left: 91.66666667%;
	}
}