/**
 * Éléments spécifiques
 */

body {
	color: #444;
}

/* Notification */
div#notification {
	background: #DDD;
	text-align: center;
	padding: 15px
}

/* Panneau */
ul#panel {
	background: #333;
	padding: 0 5px;
	margin: 0;
	list-style: none;
}
ul#panel > li {
	display: inline;
}
ul#panel > li > a {
	display: inline-block;
	color: #FFF;
	padding: 10px;
}
ul#panel > li > a:hover {
	background: #222;
	text-decoration: none;
}
ul#panel > li > a:active {
	background: #111;
}
ul#panel > li > select {
	width: 250px;
	padding: 5px;
	border: 0;
}
@media (max-width: 768px)
{
	ul#panel {
		text-align: center;
	}
	ul#panel > li > select {
		width: 100%;
		margin-top: 5px;
		display: inline-block;
	}
}

/* Titre du site */
h1#header {
	margin: 0;
}

/* Menu */
div#toggle {
	cursor: pointer;
	background: #DDD;
	padding: 13px 10px; /* -2px à cause de l'image */
	text-align: right;
	display: none;
}
ul#menu {
	display: block;
}
div#toggle:hover {
	background: #DDD;
}
div#toggle:active {
	background: #CCC;
}
div#toggle > span {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gweDREk9tROwAAAAC1JREFUSMdjYBgFo4BSwIjMcXFx+U8NQ/fs2QM3l2k0jEcjeRSMRvIoGAX0AADHtwwK/qaMdgAAAABJRU5ErkJggg==');
}
ul#menu {
	background: #DDD;
	padding: 0;
	margin: 0;
	list-style: none;
}
ul#menu > li {
	display: inline-block;
}
ul#menu > li > a {
	display: inherit;
	padding: 15px 10px;
}
ul#menu > li > a:hover {
	background: #DDD;
	text-decoration: none;
}
ul#menu > li > a:active,
ul#menu > li > a.current {
	background: #CCC;
}
@media (max-width: 768px) {
	div#toggle {
		display: block;
	}
	ul#menu {
		display: none;
		text-align: center;
	}
	ul#menu > li {
		display: block;
	}
}

/* Corps */
div#section img {
	max-width: 100%;
}

/* Liens */
a {
	text-decoration: none;
	color: #444;
}
a:hover {
	text-decoration: underline;
}

/* Listes */
ul {
	list-style: square;
}

/* Séparateur */
hr {
	border: 0;
	border-top: 1px solid #DDD;
}

/* Égalisation des margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul,
ol,
form {
	margin: 15px 0;
}

/**
 * Inputs génériques
 */

form {
	margin: 15px 0;
}
input[type="text"],
input[type="password"],
input[type="file"],
select,
textarea {
	padding: 9px; /* -1px à cause des bordures */
	background: #FFF;
	border: 1px solid #DDD;
	width: 100%;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="file"]:hover,
select:hover,
textarea:hover {
	border: 1px solid #CCC;
}
input:disabled,
select:disabled,
textarea:disabled {
	background: #EEE;
	color: #888;
}
input[type="submit"] {
	width: 100%;
	padding: 10px;
	background: #DDD;
	border: 0;
}
input[type="submit"]:hover {
	background: #CCC;
}
input[type="submit"]:active {
	background: #BBB;
}
textarea {
	height: 150px;
	resize: none;
}
label {
	display: block;
	margin-bottom: 2px;
}

/**
 * Inputs spécifiques
 */

/* Bouton */
a.button {
	width: 100%;
	display: inline-block;
	padding: 10px;
	text-align: center;
	background: #DDD;
}
a.button:hover {
	background: #CCC;
	text-decoration: none;
}
a.button:active {
	background: #BBB;
}
a.button.disabled {
	pointer-events: none;
	cursor: default;
	background: #EEE;
	color: #888;
}

/* Cases à cocher */
input[type="checkbox"],
input[type="radio"] {
	display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
	content: "✓";
	display: inline-block;
	text-align: center;
	color: transparent;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 10px;
	font-weight: bold;
	background: #DDD;
	vertical-align: top;
}
input[type="checkbox"] + label::before {
}
input[type="radio"] + label::before {
	border-radius: 50%;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
	color: #FFF;
	background: #BBB;
}
input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:checked:active + label::before,
input[type="radio"]:hover + label::before {
	color: #FFF;
	background: #CCC;
}
input[type="checkbox"]:not(:active):checked:hover + label::before,
input[type="checkbox"]:active + label::before,
input[type="radio"]:checked:hover + label::before,
input[type="radio"]:not(:checked):active + label::before {
	background: #AAA;
}

/**
 * Grille
 */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.none {
	display: none;
}
div.row {
	margin: 0 -10px;
}
div.row:first-of-type {
	margin-top: -10px;
}
div.row:last-of-type {
	margin-bottom: -10px;
}
div.col1,
div.col2,
div.col3,
div.col4,
div.col5,
div.col6,
div.col7,
div.col8,
div.col9,
div.col10,
div.col11,
div.col12 {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	min-height: 1px;
	padding: 10px;
	width: 100%;
}
div#container {
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px) {
	div#container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	div.col1 {
		width: 8.33333333%;
	}
	div.col2 {
		width: 16.66666667%;
	}
	div.col3 {
		width: 25%;
	}
	div.col4 {
		width: 33.33333333%;
	}
	div.col5 {
		width: 41.66666667%;
	}
	div.col6 {
		width: 50%;
	}
	div.col7 {
		width: 58.33333333%;
	}
	div.col8 {
		width: 66.66666667%;
	}
	div.col9 {
		width: 75%;
	}
	div.col10 {
		width: 83.33333333%;
	}
	div.col11 {
		width: 91.66666667%;
	}
	div.col12 {
		width: 100%;
	}
	div.offset0 {
		margin-left: 0;
	}
	div.offset1 {
		margin-left: 8.33333333%;
	}
	div.offset2 {
		margin-left: 16.66666667%;
	}
	div.offset3 {
		margin-left: 25%;
	}
	div.offset4 {
		margin-left: 33.33333333%;
	}
	div.offset5 {
		margin-left: 41.66666667%;
	}
	div.offset6 {
		margin-left: 50%;
	}
	div.offset7 {
		margin-left: 58.33333333%;
	}
	div.offset8 {
		margin-left: 66.66666667%;
	}
	div.offset9 {
		margin-left: 75%;
	}
	div.offset10 {
		margin-left: 83.33333333%;
	}
	div.offset11 {
		margin-left: 91.66666667%;
	}
	div#container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	div#container {
		width: 1170px;
	}
}