/**
 * Éléments spécifiques
 */

body {
	color: #444;
}

/* Notification */
#notification {
	background: #DDD;
	text-align: center;
	padding: 15px;
	color: #FFF;
}
#notification.success {
	background: #41AF6C;
}
#notification.error {
	background: #FC6160;
}

/* Notice */
.notice {
	margin-bottom: 2px;
	color: #FC6160;
}

/* Panneau */
#panel {
	background: #333;
	padding: 0 5px;
	margin: 0;
	list-style: none;
}
#panel > li {
	display: inline;
}
#panel > li > a {
	display: inline-block;
	color: #FFF;
	padding: 10px;
}
#panel > li > a:hover {
	background: #222;
	text-decoration: none;
}
#panel > li > a:active {
	background: #111;
}
#panel > li > select {
	width: 250px;
	padding: 5px;
	border: 0;
}
@media (max-width: 768px)
{
	#panel {
		text-align: center;
	}
	#panel > li > select {
		width: 100%;
		margin-top: 5px;
		display: inline-block;
	}
}

/* Haut de page */
#header {
	margin: 0;
}

/* Menu */
#toggle {
	cursor: pointer;
	background: #DDD;
	padding: 15px 10px;
	text-align: right;
	display: none;
}
#toggle:hover {
	background: #DDD;
}
#toggle:active {
	background: #CCC;
}
#toggle > span:after {
	content: '\2630';
	font-weight: bold;
}
#menu {
	display: block;
	background: #DDD;
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu > li {
	display: inline-block;
}
#menu > li > a {
	display: inherit;
	padding: 15px 10px;
}
#menu > li > a:hover {
	background: #DDD;
	text-decoration: none;
}
#menu > li > a:active,
#menu > li > a.current {
	background: #CCC;
}
@media (max-width: 768px) {
	#toggle {
		display: block;
	}
	#menu {
		display: none;
		text-align: center;
	}
	#menu > li {
		display: block;
	}
}

/* Corps */
#section img {
	max-width: 100%;
}

/* Liens */
a {
	text-decoration: none;
	color: #444;
}
a:hover {
	text-decoration: underline;
}

/* Listes */
ul {
	list-style: square;
}

/* Séparateur */
hr {
	border: 0;
	border-top: 1px solid #DDD;
}

/* Égalisation des margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul,
ol,
form {
	margin: 15px 0;
}

/**
 * Inputs génériques
 */

input[type='text'],
input[type='password'],
input[type='file'],
select,
textarea {
	padding: 9px; /* -1px à cause des bordures */
	background: #FFF;
	border: 1px solid #DDD;
	width: 100%;
}
input[type='text']:hover,
input[type='password']:hover,
input[type='file']:hover,
select:hover,
textarea:hover {
	border: 1px solid #CCC;
}
input[type='text'].notice,
input[type='password'].notice,
input[type='file'].notice,
select.notice,
textarea.notice {
	border: 1px solid #FC6160;
}
input:disabled,
select:disabled,
textarea:disabled {
	background: #EEE;
	color: #888;
}
input[type='submit'] {
	width: 100%;
	padding: 10px;
	background: #DDD;
	border: 0;
}
input[type='submit']:hover {
	background: #CCC;
}
input[type='submit']:active {
	background: #BBB;
}
textarea {
	height: 100px;
	resize: none;
}
label {
	display: block;
	margin-bottom: 2px;
}

/**
 * Inputs spécifiques
 */

/* Bouton */
.button {
	width: 100%;
	display: inline-block;
	padding: 10px;
	text-align: center;
	background: #DDD;
}
.button:hover {
	background: #CCC;
	text-decoration: none;
}
.button:active {
	background: #BBB;
}
.button.disabled {
	pointer-events: none;
	cursor: default;
	background: #EEE;
	color: #888;
}

/* Cases à cocher */
input[type='checkbox'],
input[type='radio'] {
	display: none;
}
input[type='checkbox'] + label,
input[type='radio'] + label {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
	content: '✓';
	display: inline-block;
	text-align: center;
	color: transparent;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 10px;
	font-weight: bold;
	background: #DDD;
	vertical-align: top;
}
input[type='checkbox'].notice + label:before,
input[type='radio'].notice + label:before {
	background: #FC6160;
}
input[type='radio'] + label:before {
	border-radius: 50%;
}
input[type='checkbox']:checked + label:before,
input[type='radio']:checked + label:before {
	color: #444;
	background: #BBB;
}
input[type='checkbox']:hover + label:before,
input[type='checkbox']:checked:active + label:before,
input[type='radio']:hover + label:before {
	color: #444;
	background: #CCC;
}
input[type='checkbox']:not(:active):checked:hover + label:before,
input[type='checkbox']:active + label:before,
input[type='radio']:checked:hover + label:before,
input[type='radio']:not(:checked):active + label:before {
	background: #AAA;
}

/* Aides */
.helpButton {
	display: inline-block;
	border-radius: 50%;
	background: #DDD;
	text-align: center;
	cursor: help;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 0 5px;
}
.helpButton:hover {
	background: #CCC;
}
.helpButton:hover > .helpContent {
	display: inline;
}
.helpContent {
	display: none;
	position: absolute;
	margin: 30px 0 0 -30px;
	text-align: left;
	background: #EEE;
	padding: 10px;
	z-index: 10;
}

/**
 * Grille
 */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.none {
	display: none;
}
.row {
	margin: 0 -10px;
}
.row:first-of-type {
	margin-top: -10px;
}
.row:last-of-type {
	margin-bottom: -10px;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	min-height: 1px;
	padding: 10px;
	width: 100%;
}
#container {
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px) {
	#container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.col1 {
		width: 8.33333333%;
	}
	.col2 {
		width: 16.66666667%;
	}
	.col3 {
		width: 25%;
	}
	.col4 {
		width: 33.33333333%;
	}
	.col5 {
		width: 41.66666667%;
	}
	.col6 {
		width: 50%;
	}
	.col7 {
		width: 58.33333333%;
	}
	.col8 {
		width: 66.66666667%;
	}
	.col9 {
		width: 75%;
	}
	.col10 {
		width: 83.33333333%;
	}
	.col11 {
		width: 91.66666667%;
	}
	.col12 {
		width: 100%;
	}
	.offset0 {
		margin-left: 0;
	}
	.offset1 {
		margin-left: 8.33333333%;
	}
	.offset2 {
		margin-left: 16.66666667%;
	}
	.offset3 {
		margin-left: 25%;
	}
	.offset4 {
		margin-left: 33.33333333%;
	}
	.offset5 {
		margin-left: 41.66666667%;
	}
	.offset6 {
		margin-left: 50%;
	}
	.offset7 {
		margin-left: 58.33333333%;
	}
	.offset8 {
		margin-left: 66.66666667%;
	}
	.offset9 {
		margin-left: 75%;
	}
	.offset10 {
		margin-left: 83.33333333%;
	}
	.offset11 {
		margin-left: 91.66666667%;
	}
	#container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	#container {
		width: 1170px;
	}
}