.galleriesGalleryPicture {
	display: block;
	border: 1px solid #DDD;
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.galleriesGalleryPicture:hover {
	opacity: .7;
}
.galleriesGalleryName {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	background: rgba(0, 0, 0, .6);
	color: #FFF;
	text-align: center;
}
.sl-overlay {
	background: rgba(0, 0, 0, .9);
	opacity: 1;
}
.sl-wrapper .sl-close,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-navigation button {
	color: #FFF;
}