@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Fjalla+One);

body {
	font-family: 'Noto Sans', sans-serif;
	background: #008DAB;
}

/**
 * Container
 */

#container {
	margin: 20px auto;
	background: #FFF;
	padding: 20px;
	box-shadow: 1px 1px 10px #004B5F;
	border-radius: 5px;
}

/**
 * Haut de page
 */

#header {
	text-align: center;
	padding: 30px 0 50px; /* -20px à cause du padding du container */
	font-size: 1.8em;
}

/**
 * Menu
 */

/* Menu */
#toggle,
#menu {
	background: #008DAB;
}

/* Icône du menu en mode responsive */
#toggle > span:after {
	color: #FFF;
}

/* Liens du menu */
#menu > li > a {
	color: #FFF;
}

/* Liens du menu survolés */
#toggle:hover,
#menu > li > a:hover {
	background: #007A98;
}

/* Liens du menu appuyés et lien courant */
#toggle:active,
#menu > li > a:active,
#menu > li > a.current {
	background: #00708C;
}

/**
 * Corps
 */

#section {
	margin: 20px 0;
}

/**
 * Bas de page
 */

#footer {
	text-align: center;
	font-size: 0.8em;
}

/**
 * Titres
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
h2,
h4,
h6 {
	color: #008DAB;
}

/**
 * Liens
 */

a {
	color: #008DAB;
}

/**
 * Inputs
 */

/* Boutons */
input[type='submit'],
.button {
	background: #008DAB;
	color: #FFF;
}

/* Boutons survolés */
input[type='submit']:hover,
.button:hover {
	background: #007A98;
}

/* Boutons appuyés */
input[type='submit']:active,
.button:active {
	background: #00708C;
}

/* Cases à cocher cochées */
input[type='checkbox']:checked + label:before,
input[type='radio']:checked + label:before {
	background: #008DAB;
	color: #FFF;
}

/* Cases à cocher survolées */
input[type='checkbox']:hover + label:before,
input[type='checkbox']:checked:active + label:before,
input[type='radio']:hover + label:before {
	color: #FFF;
}

/* Cases à cocher survolées et cochées */
input[type='checkbox']:not(:active):checked:hover + label:before,
input[type='checkbox']:active + label:before,
input[type='radio']:checked:hover + label:before,
input[type='radio']:not(:checked):active + label:before {
	background: #007A98;
}